.modal{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    font-family: Roboto, sans-serif;

    &--content{
        width: 600px;
        color: white;
        background-color: #fff;
        border-radius: 5px;
    }
    &--header{
        display: flex;
        justify-content: center;
        position: relative;
        padding: 10px;
        color: black;
    }
    &--closeBtn{
        position: absolute;
        right: 0;
        background-color: transparent;
        font-size: 18px;
    }
    &--closeBtn:hover{
        color: red;
        
    }
    &--body{
        display: flex;
        justify-content: center;
        font-size: 18px;
        padding: 10px;
        color: black;
    }
    &--footer{
        display: flex;
        justify-content: center;
        padding: 10px;
        color: black;
    }
}