button{
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 10px;
  cursor: pointer;
  font-size: 14px;
}
.add-to-cart-btn:hover{
  color: crimson;
  transition: ease-in 250ms;
}
.agree-btn{
  background-color: green;
  color: white;
}
.refuse-btn{
  background-color: red;
  color: white;
}