.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Lato, sans-serif;
    background-color: black;
}

.header-text {
    font-size: 40px;
    color: red;
}