.modal{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    font-family: Roboto, sans-serif;

    &--content{
        width: 600px;
        color: white;
        background-color: #fff;
        border-radius: 5px;
    }
    &--header{
        display: flex;
        justify-content: center;
        position: relative;
        background-color: rgba(165, 42, 42, 0.9);
        border-radius: 5px;
        padding: 10px;
    }
    &--closeBtn{
        position: absolute;
        right: 0;
        background-color: transparent;
        font-size: 18px;
    }
    &--body{
        display: flex;
        justify-content: center;
        font-size: 16px;
        padding: 20px;
    }
    &--footer{
        display: flex;
        justify-content: center;
        padding: 10px;
    }
}
.modal-btn {
    font-size: 18px;
    color: white;
}