.card-wrapper{
    font-family: Montserrat, sans-serif;
    margin: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(128, 128, 128, 0.5);
    border-radius: 5px;
    box-shadow: 7px 7px 7px 2px rgba(34, 60, 80, 0.2);
    position: relative;
}
.add-to-favoutites-btn{
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    cursor: pointer;
}
// .add-to-favoutites-btn path:hover{
//     fill: gold;
// }
.active-star{
    fill: gold;
}
.product-img {
    width: 330px;
    height: 220px;
    object-fit: cover;
}
.product-info{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.product-name {
    margin: 5px;
    font-size: 24px;
}
.product-price{
    font-size: 18px;
}
.add-to-cart-btn {
    background-color: rgba(0, 0, 0, 0.2);
}